@page "/Account/AccessDenied"

@* Practice 101 Create Access Denied Page *@

<PageTitle>Access Denied</PageTitle>

<header>
    <h1 class="text-danger">Accessed Denied</h1>
    <p class="text-danger">You do not have access right to this page.</p>
</header>
